.box{
    background-color: rgba(0, 0, 0, 0.153);
    height: 600px;
    width: 500px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px;
    position: relative;
    left: 500px;
    top: 100px;


   
}
.dep{
    height: 100px;
}



/* .upload-box {
  background: #eef0ff;
  border-color: #4b47ff;
  transform: scale(1.02);
} */


/* Main circular upload */
.circle-upload {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #f0f0ff;
  border: 3px dashed #6c63ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.circle-upload:hover {
  background: #e8e8ff;
  transform: scale(1.03);
  border-color: #4b47ff;
}

/* Hidden file input */
.file-input-circle {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Upload text */
.upload-text {
  font-size: 18px;
  color: #6c63ff;
  font-weight: bold;
}

/* Preview image */
.preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.src-upload{
    position: absolute;
   height: 100%;
   width: 100%;
}