.login{
    border:1px solid black;
    width: 400px;
    height:500px;
    background-image:url(../../public/Images/five.jpeg) ;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: absolute;
    left: 40%;
    top: 10%;
}
.form-css {
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex;
    gap:5px;

}
.h1-css{
    font-weight: normal;
    font-size: 24px;
    text-shadow:0px 0px 2px rgba(0,0,0,0.5) ;
    margin-bottom: 60px;
}
.label-css{
    color: rgba(225,225,255,0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;

}

.input-css{
    background: rgba(255,255,255,0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding:0px 20px;
    border:none;
    margin-bottom:20px;
    color: white;
}
.button-css{
    background: rgba(21, 53, 27, 0.881);
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    box-shadow: 0 px 0px 5 px rgba(0,0,0,0.3);
    color: white;
}